/* static/css/style.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Mooli&family=Open+Sans:wght@300;400;500&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('../imagens/Background6.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.fundo-tudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12rem 0 0 0;
}

/* CABEÇALHO */
.cabecalho {
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.logo img {
    width: 250px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.menus {
    display: grid;
    font-size: 0.8em;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menus a {
    font-size: 1.6em;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    gap: 1rem;
}

.menus a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.menus a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.menu-scrolled {
    border-radius: 50px;
    padding: 0.4rem;
    background-color: rgba(0, 0, 0, 0.677);
    transition: 2s;
    gap: 1.2rem;
}

.menu-scrolled a {
    font-size: 1.4em;
    transition: 2s;
}
.navigation-scrolled{
    margin-bottom: 75px;
    transition: 2s;
}

.btn-login {
    width: 150px;
    height: 60px;
    border-radius: 6px;
    background-color: transparent;
    border: 3px solid #fff;
    outline: none;
    cursor: pointer;
    font-size: 1.6em;
    color: #fff;
    margin-left: 40px;
    transition: 0.5s;
}

.navigation .btn-login:hover {
    background-color: #fff;
    color: #162938;
}
/*_______________________________FIM DO CABEÇALHO_____________________________________*/

/*________________________________FUNDO EMBAÇADO_______________________________________*/
.fundo-embacado {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 2px rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(40px);
    padding: 3rem; 
}
/*_____________________________Fim Fundo Embaçado______________________________________*/

/* ____________________________________Títulos_________________________________________ */

.titulo {
    background: linear-gradient(to left, #dde6ed, #05c059);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.titulo h1 {
    font-size: 70px;
}

.titulo2 {
    background: linear-gradient(to left, #dde6ed, #05c059);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    margin-top: 3rem;
}

.titulo2 h1 {
    font-size: 70px;
}

.titulo3 {
    background: linear-gradient(to left, #dde6ed, #05c059);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.titulo3 h1 {
    font-size: 70px;
}

.titulo4 {
    background: linear-gradient(to left, #dde6ed, #05c059);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.titulo4 h1 {
    font-size: 70px;
}

/* ________________________________Fim_Títulos_________________________________________ */

/* ________________________________Carrossel___________________________________________ */
.fundo-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
}
/* ________________________________Fim_Carrosel________________________________________ */

/* _________________________________Avaliações_________________________________________ */
.fundo-aval {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.ava1 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    flex-direction: column;
}

.star img {
    width: 200px;
}

.texto-ava {
    font-size: 20px;
}

.icone-usuario img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 2px solid;
}

.texto-nome {
    font-weight: 800;
    font-size: 21px;
}
/* _____________________________Fim____Avaliações______________________________________ */

/* ________________________________Sobre_______________________________________________ */
.fundo-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    color: #fff;
    flex-direction: column;
}

.sobre p {
    font-size: 23px;
}
/* _________________________________Fim__Sobre_________________________________________ */

/* __________________________________Contato___________________________________________ */
.fundo-contato {
    flex-wrap: wrap;
    margin: 2rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 2px rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(40px);
    padding: 3rem;
}

.contato {
    color: #fff;
    font-size: 25px;
}
/* _________________________________Fim___Contato_________________________________________ */

/* _______________________________Tela___de___Login_______________________________________ */
.wrapper {
    position: relative;
    width: 500px;
    height: 540px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height .2s ease;
}

.wrapper .form-box {
    width: 100%;
    padding: 20px;
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #05c059;
    font-size: 2em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #05c059;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #05c059;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: #05c059;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -8px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5em;
    color: #05c059;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.8em;
    color: #05c059;
    line-height: 57px;
}

.remember-forgot {
    font-size: 1em;
    color: #05c059;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #05c059;
    margin-right: 3px;
}

.remember-forgot a {
    color: #05c059;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn-entrar {
    width: 100%;
    height: 45px;
    background: #05c059;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.lab_user{
    color: white;
}

.input-box input{
    color: #fff;
}

.flash-message {
    color: #fff;
}

/* ______________________________Fim___tela___Login____________________________________ */

/* ___________________________________Página 2 _________________________________________ */
.fundo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
/* ___________________________________Fim__Página__2____________________________________ */
/* página administrativa */
.opc{
    background-color: #05c059;
    border-radius: 50px;
    padding: 0.3rem;
}
.users{
    padding-top: 3rem;
    color: #fff;
}
.tabela_users{
    color: #fff;
}

.tabela_users th {
    padding: 10px 20px; 
    text-align: left; 
}

.col_usuario {
    width: 200px;
}

.col_papel {
    width: 150px;
}
/* fim pagina administrativa */

/* pagina dashboard */
.link_individual{
    color: #fff;
}

.btn-fotos{
        width: 100%;
        height: 45px;
        background: #05c059;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1.5em;
        color: #fff;
        font-weight: 500;
        padding: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
}

.user-link{
    gap: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* Fim página dashboard */

/*___________________________________Resposivo Celular__________________________________ */
@media screen and (max-width:1330px) {

    .background{
    background: #000 no-repeat;
    background-size: cover;
    background-position: center;
    }

    .fundo-carousel {
        width: 320px;
    }

    .ava1 {
        width: 300px;
    }

    .titulo h1 {
        font-size: 40px;
    }

    .titulo2 h1 {
        font-size: 40px;
    }

    .titulo3 h1 {
        font-size: 40px;
    }

    .titulo4 h1 {
        font-size: 40px;
    }

    .cabecalho {
        position: absolute;

        justify-content: center;
    }

    .fundo-sobre {
        width: 300px;
    }

    .fundo-contato {
        padding: 1rem;
    }

    .contato {
        font-size: 23px;
    }

    .logo img {
        width: 200px;
    }

    .wrapper {
        width: 340px;
        height: 400px;
    }

    .btn-login {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
    
    .fundo-tudo{
        padding: 19rem 0 0 0;
    }

    .navigation{
        gap: 1rem;
    }
    .fundo-embacado{
        padding: 0;
    }
    .fundo2{
        padding: 11rem 0 0 0;
    }
}
